<h2>CONFIG</h2>
<datalist id="boolean">
    <option value="true">True</option>
    <option value="false">False</option>
</datalist>
<p>
<form name="settingsForm" action="/" method="POST">
    <h3>Common Settings</h3>
    <table>
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>Display Units</td>
            <td style="align-items: flex-start; align-content: flex-start; text-align: left;">
                <datalist id="display_units">
                    <option value="statute" />
                    <option value="knots" />
                    <option value="metric" />
                </datalist>
                <input onchange="settingsForm.submit()" list="display_units" id="distance_units"
                    name="distance_units" /> <br>
            </td>
        </tr>
        <tr>
            <td>Aithre</td>
            <td style="align-items: flex-start; align-content: flex-start; text-align: left;">
                <label class="switch">
                    <input onchange="settingsForm.submit()" name="aithre" id="aithre" type="checkbox" value="true" {{#if
                        configJson.aithre}}checked{{/if}} />
                    <span class="slider round"></span>
                </label>
            </td>
        </tr>
        <tr>
            <td>Flip Horizontal</td>
            <td style="align-items: flex-start; align-content: flex-start; text-align: left;">
                <label class="switch">
                    <input onchange="settingsForm.submit()" name="flip_horizontal" id="flip_horizontal" type="checkbox"
                        value="true" {{#if configJson.flip_horizontal}}checked{{/if}} />
                    <span class="slider round"></span>
                </label>
            </td>
        </tr>
        <tr>
            <td>Flip Vertical</td>
            <td style="align-items: flex-start; align-content: flex-start; text-align: left;">
                <label class="switch">
                    <input onchange="settingsForm.submit()" name="flip_vertical" id="flip_vertical" type="checkbox"
                        value="true" {{#if configJson.flip_vertical}}checked{{/if}} />
                    <span class="slider round"></span>
                </label>
            </td>
        </tr>
        <tr>
            <td>Enable Declination</td>
            <td style="align-items: flex-start; align-content: flex-start; text-align: left;">
                <label class="switch">
                    <input onchange="settingsForm.submit()" name="enable_declination" id="enable_declination"
                        type="checkbox" value="true" {{#if configJson.enable_declination}}checked{{/if}} />
                    <span class="slider round"></span>
                </label>
            </td>
        </tr>
    </table>
    <br>
</form>
<script>
    document.getElementById("flip_horizontal").checked = {{ configJson.flip_horizontal }};
    document.getElementById("flip_vertical").checked = {{ configJson.flip_vertical }};
    document.getElementById("aithre").checked = {{ configJson.aithre }};
    document.getElementById("enable_declination").checked = {{ configJson.enable_declination }};
    document.getElementById("distance_units").value = {{ configJson.units }};
    document.settingsForm.distance_units.value = document.getElementById("distance_units").value;
</script>
</p>