<h2>CONFIG</h2>
<datalist id="units">
    <option value="statute">Statute</option>
    <option value="knots">Knots</option>
    <option value="metric">Metric</option>
</datalist>
<datalist id="boolean">
    <option value="true">True</option>
    <option value="false">False</option>
</datalist>
<p>
<form name="settingsForm" action="/" method="POST">
    <h3>Common Settings</h3>
    <table>
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>Units</td>
            <td style="align-items: flex-start; align-content: flex-start; text-align: left;">
                <input type="radio" name="distance_units" class="form-radio" value="statute">&nbsp;Statute<br>
                <input type="radio" name="distance_units" class="form-radio" value="knots">&nbsp;Knots<br>
                <input type="radio" name="distance_units" class="form-radio" value="metric">&nbsp;Metric<br><br>
            </td>
        </tr>
        <tr>
            <td>Aithre</td>
            <td style="align-items: flex-start; align-content: flex-start; text-align: left;">
                <label class="switch">
                    <input onchange="settingsForm.submit()" name="aithre" id="aithre" type="checkbox" value="true"
                        {{#if configJson.aithre}}checked{{/if}} />
                    <span class="slider round"></span>
                </label>
            </td>
        </tr>
        <tr>
            <td>Flip Horizontal</td>
            <td style="align-items: flex-start; align-content: flex-start; text-align: left;">
                <label class="switch">
                    <input onchange="settingsForm.submit()" name="flip_horizontal" id="flip_horizontal" type="checkbox" value="true"
                        {{#if configJson.flip_horizontal}}checked{{/if}} />
                    <span class="slider round"></span>
                </label>
            </td>
        </tr>
        <tr>
            <td>Flip Vertical</td>
            <td style="align-items: flex-start; align-content: flex-start; text-align: left;">
                <label class="switch">
                    <input onchange="settingsForm.submit()" name="flip_vertical" id="flip_vertical" type="checkbox" value="true"
                        {{#if configJson.flip_vertical}}checked{{/if}} />
                    <span class="slider round"></span>
                </label>
            </td>
        </tr>
        <tr>
            <td>Enable Declination</td>
            <td style="align-items: flex-start; align-content: flex-start; text-align: left;">
                <label class="switch">
                    <input onchange="settingsForm.submit()" name="enable_declination" id="enable_declination" type="checkbox" value="true"
                        {{#if configJson.enable_declination}}checked{{/if}} />
                    <span class="slider round"></span>
                </label>
            </td>
        </tr>
        <tr>
            <td>Declination</td>
            <td><input onchange="settingsForm.submit()" name="declination" id="declination" type="number" value="{{configJson.declination}}" /></td>
        </tr>
    </table>
    <br>
</form>
<script>
    document.getElementById("flip_horizontal").checked = {{ configJson.flip_horizontal }};
    document.getElementById("flip_vertical").checked = {{ configJson.flip_vertical }};
    document.getElementById("aithre").checked = {{ configJson.aithre }};
    document.getElementById("enable_declination").checked = {{ configJson.enable_declination }};
    var units = "{{configJson.distance_units}}";
    if (units.length < 1) {
        units = "statute";
    }

    document.settingsForm.distance_units.value = units;
</script>
</p>