<h2>CONFIG</h2>
<p>
    <table>
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>Data Source</td>
            <td><input type="text" value="{{configJson.data_source}}" /></td>
        </tr>
        <tr>
            <td>Data IP Address</td>
            <td><input type="text" value="{{configJson.stratux_address}}" /></td>
        </tr>
        <tr>
            <td>OWNSHIP</td>
            <td><input type="text" value="{{configJson.ownship}}" /></td>
        </tr>
        <tr>
            <td>No Report Removal Time</td>
            <td><input type="number" value="{{configJson.traffic_report_removal_minutes}}" /></td>
        </tr>
        <tr>
            <td>Units</td>
            <td>
                <datalist id="units">
                    <option value="statute">Statute</option>
                    <option value="knots">Knots</option>
                    <option value="metric">Metric</option>
                </datalist>
                <input list="units" value="{{configJson.distance_units}}"/>
            </td>
        </tr>
        <tr>
            <td>Flip Horizontal</td>
            <td>{{configJson.flip_horizontal}}</td>
        </tr>
        <tr>
            <td>Flip Vertical</td>
            <td>{{configJson.flip_vertical}}</td>
        </tr>
        <tr>
            <td>Declination</td>
            <td><input type="number" value="{{configJson.declination}}" /></td>
        </tr>
    </table>
</p>
<br>
<p>The current time is: {{time}}</p>