<h2>{{title}} CONFIG</h2>
<p>
    <form action="{{path}}" method="POST">
        <textarea type="text" name="configJson" id="configJson" rows={{rowCount}}>{{configJson}}</textarea>
        <br>
        <br>
        <input {{disabled}} type="submit" value="UPDATE" />
    </form>
</p>
<p>Page load at {{time}}</p>